// Colors
$o-community-color: #7C7BAD;
$o-enterprise-color: #875A7B;
$o-enterprise-primary-color: #00A09D;

$o-brand-odoo: $o-community-color;

$o-default-report-font: 'Lato' !default;
$o-default-report-primary-color: #af5a2a !default;
$o-default-report-secondary-color: #355c7e !default;