// Colors
$o-community-color: #7C7BAD;
$o-enterprise-color: #875A7B;
$o-enterprise-primary-color: #00A09D;

$o-brand-odoo: $o-community-color;

$univision-primary: #af5a2a;
$univision-secondary: #355c7e;


$o-default-report-font: 'Lato' !default;
$o-default-report-primary-color: $univision-primary !default;
$o-default-report-secondary-color: $univision-secondary !default;