.o_background_header_univision {
    min-width: 900px;
    border-bottom: 1px solid gray('200');
    img {
        max-height: 96px;
        max-width: 325px;
        margin-right: 16px;
    }
    
    .univision_report_header{
        max-width:500px;
//         color:  $o-community-color;
        color:  pink;
        font-weight: 700;
        font-size: 1.5rem;
       text-align: right;
    }
    
    h3 {
        color:  $o-community-color;
        font-weight: 700;
        font-size: 1.5rem;
//         max-width: 300px;
        
    }
//     h3 {
//         color: $o-default-report-primary-color;
//         font-weight: 700;
//         font-size: 1.5rem;
//         max-width: 375px;
//     }
}


.o_background_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid $o-community-color;
        border-bottom: 1px solid $o-community-color;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $o-brand-odoo;
        }
    }
}

.univision_footer{
     color: gray('700');
}

