.o_background_header_univision {
    img {
        max-height: 96px;
        max-width: 325px;
    }
    
    h3 {
        color:  $univision-secondary;
        font-weight: 700;
        font-size: 1.5rem;
        
    }
}

.univision_report_header{
    color:  $univision-primary;
    font-weight: 700;
    font-size: 1.5rem;
}


.o_background_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid $univision-primary;
        border-bottom: 1px solid $univision-primary;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $univision-primary
        }
    }
}

.univision_footer{
     color: gray('700');
}

